@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sidebar-btn-style {
  background-color: #565656;
  /* background-color: whitesmoke; */
  border-radius: 5px;
  height: 38px;
  min-width: "100px";
  width: 100%;
  font-size: 19px;
  font-weight: 500;
}

.sidebarsub-btn-style {
  background-color: #565656;
  border-radius: 5px;
  height: 31px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  /* max-width: 220px; */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.analyze-btn-style {
  border: solid black 2px;
  border-radius: 5px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 200px;
  height: 51px;
  flex-shrink: 0;
  color: #3E2A2A;

  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-align: center;
}

.uploadfile-btn-style {
  font-family: Inter;
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 183px;
  height: 35px;
}

.uploadfile-btn-style:hover {
  background: "red";
}

.login-container-style {

  width: 870px;
  height: 450px;
  flex-shrink: 0;
  border: solid black 0.5px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.fill-login-box-style {
  width: 400px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #B5B5B5;
  color: black;

  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-btn-style {
  width: 300px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #C28AE4;
}

.cmu-text {
  color: #000;
  font-family: Open Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filelabel-btn-style {
  border: solid black 2px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

.filelabel-container {
  width: 303px;
  height: 32px;
  flex-shrink: 0;
  background: #FEF4F4;
}

.login-btn-style {
  flex-shrink: 0;
  border-radius: 2px;
  border: 0.2px solid #000;
  background: #C098D9;
}

.login-text-style {
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.nav-color {
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.summary-text-style {
  flex-shrink: 0;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}